/* FONT */
$base-font: 'Work sans', sans-serif;
$title-font: 'Righteous', sans-serif;
$base-font-size: 16px;

/* COLOR */
$header-bg-color: rgb(35, 2, 63);
$text-color: rgb(74, 74, 74);
$title-color: rgb(255, 0, 171);
$search-button-color: rgb(255, 102, 204);
$headline-bg-color:rgb(104, 0 ,255);

/* RADIUS */
$border-radius: 20px;
