/* GENERAL */
html {
  font-size: $base-font-size;
}

body {
  font-family: $base-font;
}

/* HEADER */
header {
  background-color: $header-bg-color;
  padding: 3rem;

  .row {
    @include set-flex-container;

    .title {
      h1 {
        color: $title-color;
        font-size: 2.5rem;
        font-family: $title-font;
      }
    } /* end title */

    .search-container {
      @include set-flex-container;

      input, #search-button {
        border-radius: $border-radius;
        height: 30px;
      }

      input {
        width: 50%;
        border: none;

      }

      #search-button {
        margin-left: 1rem;
        background-color: $search-button-color;
        padding: 0 1rem;
        @include set-flex-container;

        i {

          font-size: 1.3rem;
        }
      } /* end search-button */
    } /* end search-container */
  } /* end row */
} /* end header */

/* HEADLINE */
#headline {
  background-color: $headline-bg-color;
  color: white;
  padding: 1rem 0 1rem 10%;

  .row {

  }
}
